<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">

    <a style="color: white;" class="navbar-brand" href="#">AIG HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container">
    <hr>
    <h2 class="text-center">Update the Medicine</h2>
    <hr>
    <form (ngSubmit)="onSubmit()" class="form-group">
        <label for="id">Id</label>
        <input type="text" placeholder="Enter the ID" name="id" id="id" [(ngModel)]="medicines.id" class="form-control">
        <label for="drug">Drug</label>
        <input type="text" placeholder="Enter the Drug" name="drug" id="drug" [(ngModel)]="medicines.drugName"
            class="form-control">
        <label for="stock">Stock</label>
        <input type="number" placeholder="Enter the Stock" name="stock" id="stock" [(ngModel)]="medicines.stock"
            class="form-control"><br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>